/* IMPORT FONTS */
/*----------------------------------------------------------------------------------------------------------------------*/
@font-face {
  font-family: 'GeorgiaBold';
  font-weight: bold;
  src: url('assets/fonts/GeorgiaBold.ttf');
}

@font-face {
  font-family: 'GeorgiaItalic';
  font-style: italic;
  src: url('assets/fonts/GeorgiaItalic.ttf');
}

@font-face {
  font-family: 'Georgia';
  src: url('assets/fonts/Georgia.ttf');
}

@font-face {
  font-family: 'WigrumBold';
  src: url('assets/fonts/WigrumBold.otf');
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* SIDE NAVBAR */
/*----------------------------------------------------------------------------------------------------------------------*/

.rightSidebar {
  z-index: 10;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightSidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  margin: 0;
  padding: 0;
}

.rightSidebar ul li {
  font-family: Georgia;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

#sectionIndicatorWrap {
  display: none;
}

#side-nav-logo {
  font-family: WigrumBold;
  font-size: 24pt;
}

/* TOGGLE ACTIVE */
a.in {
  color: black;
}

a.active.in {
  border-left: 1px solid black;
}

a.active {
  border-left: 1px solid white;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* VIDEO TOP SECTION */
/*----------------------------------------------------------------------------------------------------------------------*/

.video-background {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}

#video-overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.main-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .main-video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .main-video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 768px) {
  .videoWrapper {
    background: url('./assets/images/poster1.png') center center / cover
      no-repeat;
  }

  .main-video {
    display: none;
  }
}

#svgLogo {
  width: 36%;
  height: auto;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* PORTFOLIO CAROUSELS */
/*----------------------------------------------------------------------------------------------------------------------*/

img {
  height: 100%;
  width: 100%;
}

.slides-pagination {
  margin-bottom: 10%;
  margin-left: 5%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides-pagination p {
  margin-right: 2%;
  font-family: WigrumBold;
  font-size: 1.5em;
  opacity: 1;
}

.dispatch-video {
  object-fit: cover;
  position: relative;
}

/* video play button */
.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playBtn.hide {
  display: none;
}

.fas.fa-play,
.fas.fa-pause {
  color: rgba(0, 0, 0, 0.5);
}

#play {
  margin-left: 10px;
  display: block;
}

#pause {
  display: none;
}

#play.hide {
  display: none;
}

#pause.show {
  display: block;
}

.videoSlide {
  cursor: pointer;
}

/* add text before pagination */
#slides-1 > .slides-pagination:before {
  content: 'womens mecca';
  font-weight: bold;
  font-size: 1.5em;
  font-family: WigrumBold;
  margin-right: 2%;
}

#slides-2 > .slides-pagination:before {
  content: 'dispatch';
  font-weight: bold;
  font-size: 1.5em;
  font-family: WigrumBold;
  margin-right: 2%;
  color: #fff;
}

#slides-3 > .slides-pagination:before {
  content: 'kstar';
  font-weight: bold;
  font-size: 1.5em;
  font-family: WigrumBold;
  margin-right: 2%;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* BODY, CONTENT, SCENE, ABOUT && SERVICES SECTION */
/*----------------------------------------------------------------------------------------------------------------------*/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#content {
  margin: 0;
  height: 100%;
  overflow: scroll;
}

.scene {
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 100vh !important;
}

.inner-content {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4vw;
}

.services,
.about {
  background-color: #f3f3f3;
  font-family: Georgia;
  font-size: 14pt;
}

.services-header,
.about h2 {
  font-family: WigrumBold;
  font-size: 75pt;
  color: #292827;
  margin: 0;
}

.serviceList {
  display: flex;
  width: 100%;
}

.serviceList ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.serviceList ul li {
  margin: 0;
  list-style-position: inside;
  width: 35%;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* CONTACT END SECTION */
/*----------------------------------------------------------------------------------------------------------------------*/

#contact {
  color: white;
  background-color: #292827;
  font-family: Georgia;
  font-size: 16pt;
}

.contact a {
  color: white;
}

#contact-header {
  font-size: 36pt;
  margin-bottom: 0;
}

#contact-inner-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  flex-direction: column;
  margin-left: 4vw;
}

.rad-animation {
  font-family: WigrumBold;
  font-size: 17vw;
  margin: 0;
}

/*----------------------------------------------------------------------------------------------------------------------*/

/* MEDIA QUERIES */
/*----------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .serviceList ul {
    flex-direction: column;
  }

  .serviceList ul li {
    width: 100%;
  }

  #svgLogo {
    width: 70%;
    height: auto;
  }

  .rightSidebar {
    width: 10vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .rightSidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    height: 250px;
    margin-bottom: 30px;
  }

  #side-nav-logo {
    font-size: 22pt;
    margin: 25px 0 5px 0;
  }

  a#high2a,
  a#high3a,
  a#high4a,
  a#high5a {
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    width: 14px;
    height: 14px;
  }

  #sectionIndicatorWrap {
    display: flex;
    width: 29px;
    justify-content: center;
    height: 60px;
  }

  #sectionIndicator {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    margin: 0;
    font-size: 23px;
  }

  .nav-content {
    display: flex;
    flex-direction: column;
  }

  .services-header,
  .about h2 {
    font-size: 40pt;
  }

  #slides-3 > .slides-pagination::before,
  #slides-2 > .slides-pagination::before,
  #slides-1 > .slides-pagination::before {
    font-size: 11pt;
  }
  .slides-pagination a {
    width: 10px !important;
    height: 10px !important;
  }
  .slides-pagination {
    width: 200px;
    margin-left: 3%;
    margin-bottom: 7%;
  }

  #contact-inner-content {
    font-size: 12pt;
  }

  #contact-inner-content #contact-header {
    font-size: 24pt;
  }
  /* .rad-animation {
    font-size: 120pt;
  } */
}

@media only screen and (max-width: 520px) {
  .serviceList ul li {
    width: 305px;
  }
  .slides-pagination {
    width: 220px;
    margin-left: 0;
    margin-bottom: 4%;
  }
  #contact-inner-content {
    font-size: 10pt;
    width: 70%;
    box-sizing: border-box;
    margin-right: 12%;
  }

  .inner-content {
    font-size: 11pt;
  }

  #contact-inner-content #contact-header {
    font-size: 20pt;
  }
  /* .rad-animation {
    font-size: 110pt;
  } */
}
